
doctype html
html(lang="en")
  head
    title Contacts List
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css", rel='stylesheet')
    link(href="bower_components/font-awesome/css/font-awesome.min.css", rel='stylesheet')
    link(href="css/style.css", rel='stylesheet')
  body
    h1 Contacts List
    .container
      - var properties = ['name', 'number', 'email']
      .row
      .container
        .row
          h1 Add a contact
          .row
            each val, prop in items[0]
              label #{prop.toUpperCase()}:
              input(id= prop)
        button.btn#submit add
      .row
        table.table.table-hover
          thead
            tr
              each prop in properties
                th= prop
              th: th
          tbody#contactList
            each item, index in items
              tr
                each prop in properties
                  td.editable(class= prop , id= prop)= items[index][prop]
                td.edit.text-center
                  i.fa.fa-pencil.fa-lg
                  button.btn.save Save      
                td.delete.text-center
                  i.fa.fa-trash.fa-lg
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='js/contacts/main.js')
    script(src='js/contacts/add.js')
    
